/* app css stylesheet */

header {
  width: 200px;
  margin: 0 auto 20px auto;
  h1 {
    text-align: center;
  }

  .menu {
    list-style: none;
    padding: 0 0 0.5em;

    li {
      display: inline;
      text-align: center;

      &.left {
        float: left;
        padding-left: 50px;
      }

      &.right {
        float: right;
        padding-right: 50px;
      }
    }
  }
}

.import {
  width: 400px;
  margin: 0 auto;
  h4, .row {
    text-align: center;
  }
}

.item img {
  float: left;
  padding: 1px;
  width: 10%;
}

.filter {
  text-align: center;
  margin-bottom: 20px;
}

.success, .error {
  margin-top: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}